<div class="w-full relative">
  <div class="flex justify-between items-center	mb-4">
    <span class="text-4xl">Tunier</span>
    <button
      class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-400"
      (click)="click()">create tunier
    </button>
  </div>
  <div class="w-full h-screen-88 overflow-y-scroll">
    <div class="grid grid-cols-2 gap-8">
      <ng-container *ngFor="let group of groupPlaces$ | async; let i = index">
        <div class="w-full">
          <span class="text-xl text-gray-500">Group {{i + 1}}</span>
          <tunierplanner-group [group]="group" class="w-full"></tunierplanner-group>
        </div>
      </ng-container>
    </div>
    <div class="grid grid-cols-2 gap-8 mt-10">
      <ng-container *ngFor="let group of groupMatches$|async;  let i = index">
        <div class="w-full">
          <span class="text-xl text-gray-500">Matches group {{i + 1}}</span>
          <ng-container *ngFor="let match of group">
            <tunierplanner-tunier-match [match]="match" (updateMatch)="updateMatch($event)"></tunierplanner-tunier-match>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="my-10">
      <tunierplanner-tunier-tree></tunierplanner-tunier-tree>
    </div>
  </div>
</div>
