<div>
  <div class="">
    <div class="text-center text-xl text-gray-500">Quarterfinals</div>
    <div class="grid grid-cols-4 gap-4 mt-2">
      <tunierplanner-tunier-match [match]="match"></tunierplanner-tunier-match>
      <tunierplanner-tunier-match [match]="match"></tunierplanner-tunier-match>
      <tunierplanner-tunier-match [match]="match"></tunierplanner-tunier-match>
      <tunierplanner-tunier-match [match]="match"></tunierplanner-tunier-match>
    </div>
  </div>
  <div class="mt-4">
    <div class="text-center text-xl text-gray-500">Semifinals</div>
    <div class="grid grid-cols-4 gap-4 mt-2">
      <tunierplanner-tunier-match class="col-start-2" [match]="match"></tunierplanner-tunier-match>
      <tunierplanner-tunier-match class="col-start-3" [match]="match"></tunierplanner-tunier-match>
    </div>
  </div>
  <div class="mt-4">
    <div class="text-center text-xl text-gray-500">Final</div>
    <div class="grid grid-cols-4 gap-4 mt-2">
      <tunierplanner-tunier-match class="col-start-2 col-span-2" [match]="match"></tunierplanner-tunier-match>
    </div>
  </div>
</div>
